
/* Header styles*/
h1 {
    color: rgb(0, 255, 221);
    font-family: 'Slabo 27px', serif;
}
/*List styles*/

ul{list-style-type: none;
    padding-left: 0px;
}
li{
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
}
/* anchors and links */
a{
font-size: 30px;
    text-decoration:none;
}