main {
    width: 960px;
    margin: auto;
    background-color: aliceblue;
}

.fullcard {
    width: 45%;
}

.fullcard:first-child {
    float: left;
}

.fullcard:nth-child(2) {
    float: right;
}

.clearfix {
    clear: both;

}
.fullcard img {
    width: 100%;
}