@charset "UTF-8";
/* CSS Document */

body {
  font-family: 'ubuntu','Cutive Mono', monospace;
  }

h1, h2 {
  font-family: 'cutive mono', monospace;
  }

h1 {
  font-size: 35px; 
  font-weight: 800; 
  background-color: rgba(255, 00, 00, .8);
  margin-left:-6px;
  margin-right: -10px;
  line-height: 30px;
  }

h2 {
  font-size: 27px;
  line-height: 27px;
  }

p {
  font-size: 18px;
  columns: 100px 2;
  line-height: 25px;
  }

p::first-letter {
  font-size: 35px;
  font-family: 'cutive mono', monospace;   }

  
/*for screens larger than 768px*/
@media only screen and (min-width: 768px) {
  p { 
    columns: 120px 4;
  }
  h1 {
    font-size: 39px;
  }
  h2 {
    font-size: 33;
  }
}
